@import url('https://fonts.googleapis.com/css?family=Francois+One|Lato|Raleway');

body, html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #00a8ff;
}

body {
  background-color: #40739e;
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

.container {
  text-align: center;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  font-family: 'Francois One', sans-serif;
}

.weather-container {
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
  font-size: 1.5rem;
}

.degrees-symbol {
  cursor: pointer;
  color: #00a8ff;
}

.author {
  font-family: 'Raleway', sans-serif;
}
